// Import UIkit components

// Base
@import "../vendor/uikit/components/variables.scss";
@import "../vendor/uikit/components/mixin.scss";
@import "../vendor/uikit/components/base.scss";

// Elements
@import "../vendor/uikit/components/link.scss";
@import "../vendor/uikit/components/heading.scss";
@import "../vendor/uikit/components/divider.scss";
@import "../vendor/uikit/components/list.scss";
@import "../vendor/uikit/components/description-list.scss";
@import "../vendor/uikit/components/table.scss";
@import "../vendor/uikit/components/icon.scss";
@import "../vendor/uikit/components/form-range.scss";
@import "../vendor/uikit/components/form.scss"; // After: Icon, Form Range
@import "../vendor/uikit/components/button.scss";

// Layout
@import "../vendor/uikit/components/section.scss";
@import "../vendor/uikit/components/container.scss";
@import "../vendor/uikit/components/grid.scss";
@import "../vendor/uikit/components/tile.scss";
@import "../vendor/uikit/components/card.scss";

// Common
@import "../vendor/uikit/components/close.scss"; // After: Icon
@import "../vendor/uikit/components/spinner.scss"; // After: Icon
@import "../vendor/uikit/components/totop.scss"; // After: Icon
@import "../vendor/uikit/components/marker.scss"; // After: Icon
@import "../vendor/uikit/components/alert.scss"; // After: Close
@import "../vendor/uikit/components/badge.scss";
@import "../vendor/uikit/components/label.scss";
@import "../vendor/uikit/components/overlay.scss"; // After: Icon
@import "../vendor/uikit/components/article.scss"; // After: Subnav
@import "../vendor/uikit/components/comment.scss"; // After: Subnav
@import "../vendor/uikit/components/search.scss"; // After: Icon

// Navs
@import "../vendor/uikit/components/nav.scss";
@import "../vendor/uikit/components/navbar.scss"; // After: Card, Grid, Nav, Icon, Search
@import "../vendor/uikit/components/subnav.scss";
@import "../vendor/uikit/components/breadcrumb.scss";
@import "../vendor/uikit/components/pagination.scss";
@import "../vendor/uikit/components/tab.scss";
@import "../vendor/uikit/components/slidenav.scss"; // After: Icon
@import "../vendor/uikit/components/dotnav.scss";
@import "../vendor/uikit/components/thumbnav.scss";

// JavaScript
@import "../vendor/uikit/components/accordion.scss";
@import "../vendor/uikit/components/drop.scss"; // After: Card
@import "../vendor/uikit/components/dropdown.scss"; // After: Card
@import "../vendor/uikit/components/modal.scss"; // After: Close
@import "../vendor/uikit/components/lightbox.scss"; // After: Close
@import "../vendor/uikit/components/slideshow.scss";
@import "../vendor/uikit/components/sticky.scss";
@import "../vendor/uikit/components/offcanvas.scss";
@import "../vendor/uikit/components/switcher.scss";
// Scrollspy
// Toggle
// Scroll

// Additional
@import "../vendor/uikit/components/iconnav.scss";
@import "../vendor/uikit/components/notification.scss";
@import "../vendor/uikit/components/tooltip.scss";
@import "../vendor/uikit/components/placeholder.scss";
@import "../vendor/uikit/components/progress.scss";
@import "../vendor/uikit/components/sortable.scss";
@import "../vendor/uikit/components/countdown.scss";

// Utilities
@import "../vendor/uikit/components/animation.scss";
@import "../vendor/uikit/components/width.scss";
@import "../vendor/uikit/components/text.scss";
@import "../vendor/uikit/components/column.scss";
@import "../vendor/uikit/components/cover.scss";
@import "../vendor/uikit/components/background.scss";
@import "../vendor/uikit/components/align.scss";
@import "../vendor/uikit/components/utility.scss";
@import "../vendor/uikit/components/flex.scss"; // After: Utility
@import "../vendor/uikit/components/margin.scss";
@import "../vendor/uikit/components/padding.scss";
@import "../vendor/uikit/components/position.scss";
@import "../vendor/uikit/components/transition.scss";
@import "../vendor/uikit/components/visibility.scss";
@import "../vendor/uikit/components/inverse.scss";

// Need to be loaded last
@import "../vendor/uikit/components/print.scss";
