// Theme variables


// Primary template color
$global-primary-background: #2d9cff; //rgb(0, 160, 222);
$global-secondary-background: #191c1f; //rgb(27, 40, 49);
$global-success-background: #32d296;
$global-warning-background: #faa05a;
$global-danger-background: #f0506e;

$base-heading-font-family: system-ui; //'Playfair Display', serif;;
$base-heading-font-weight: bold;

$section-success-background: $global-success-background;
$section-success-color-mode: light;
$section-danger-background: $global-danger-background;
$section-danger-color-mode: light;


// Custom variables
$lh-l: 1.8;
$border-light: #edeff1;
$color-dark: #000;
$navbar-background:     $global-primary-background;
// $base-body-font-weight: 300;
// $base-heading-font-weight: 300;
$base-heading-color: #3c4346;
$base-h2-line-height: 1.4;
$base-link-hover-text-decoration: underline;
$base-body-color: #75797b;

$global-font-family: system-ui;
$global-link-color: $global-primary-background;
$global-link-hover-color: $global-primary-background;
// $global-xxlarge-font-size: 2rem;
$global-xlarge-font-size: 3rem;
$global-large-font-size: 1.75rem;
$global-small-font-size: 0.875rem;
$global-muted-color: #A9AAAB;
$global-border: #cccace;
//$border-rounded-border-radius: 4px;

$icon-link-color: $global-primary-background;
$icon-link-hover-color: $color-dark;
$icon-link-active-color: darken($global-primary-background, 5%);
$link-muted-hover-color: #222;

//$container-max-width: 1100px;
$container-small-max-width: 740px;
$grid-large-gutter-horizontal: 100px;

$card-small-body-padding-horizontal:            25px;
$card-small-body-padding-vertical:              25px;
//$card-title-font-size: $global-xlarge-font-size;

$article-title-font-size: $global-xlarge-font-size;
$article-title-line-height: 1.4;

$article-meta-font-size: 	0.8125rem;
$article-meta-line-height: 1.6;

$offcanvas-bar-color-mode: dark;
$offcanvas-bar-background: #fff;

$heading-hero-font-size: 3.25rem;
$heading-hero-line-height: 1.1;
$heading-hero-font-size-s: 4.125rem;
$heading-hero-line-height-s: 1.1;
$heading-hero-font-size-m: 4.5rem;
$heading-hero-line-height-m: 1.2;

$text-lead-font-size: 1.375rem;

//$navbar-background: #fff;
$navbar-nav-item-color: $base-heading-color;
$navbar-nav-item-hover-color: #000;
$navbar-nav-item-active-color: #000;
$navbar-nav-item-font-size: 13px;
$navbar-nav-item-text-transform: uppercase !default;
$navbar-toggle-color: $base-heading-color;
$navbar-toggle-hover-color: #000;
$subnav-item-font-size: $global-small-font-size;
$subnav-item-text-transform: uppercase;

// $search-color:                                       $global-color !default;
// $search-placeholder-color:                           $global-muted-color !default;
//
// $search-icon-color:                                  $global-muted-color !default;
//
// $search-default-width:                               180px !default;
// $search-default-height:                              $global-control-height !default;
// $search-default-padding-horizontal:                  6px !default;
$search-default-background:                          #fff;
$search-default-focus-background:                    #fff;

// $search-default-icon-width:                          $global-control-height !default;
//
// $search-navbar-width:                                400px !default;
// $search-navbar-height:                               40px !default;
// $search-navbar-background:                           transparent !default;
// $search-navbar-font-size:                            $global-large-font-size !default;
//
// $search-navbar-icon-width:                           40px !default;
//
// $search-large-width:                                 500px !default;
// $search-large-height:                                80px !default;
// $search-large-background:                            transparent !default;
// $search-large-font-size:                             $global-xxlarge-font-size !default;
//
// $search-large-icon-width:                            80px !default;
//
// $search-toggle-color:                                $global-muted-color !default;
// $search-toggle-hover-color:                          $global-color !default;



// $inverse-search-color:                          $base-body-color;
// $inverse-search-placeholder-color:              $global-muted-color;
// $inverse-search-icon-color:                     $global-muted-color;
// $inverse-search-default-background:             #fff;
// $inverse-search-default-focus-background:       #fff;

// $search-navbar-width:                                400px !default;
// $search-navbar-height:                               40px !default;
//$search-navbar-background:                           #fff;
// $search-navbar-font-size:                            $global-large-font-size !default;
//
// $search-navbar-icon-width:                           40px !default;
//
// $search-large-width:                                 500px !default;
// $search-large-height:                                80px !default;
//$search-large-background:                            #fff;
// $search-large-font-size:                             $global-xxlarge-font-size !default;

//$inverse-search-navbar-background:              #fff;

//$inverse-search-large-background:               #fff;
