{% if page.navbar.style %}
  {% assign style = page.navbar.style %}
{% else %}
  {% assign style = site.navbar.style %}
{% endif %}

{% if page.navbar.sticky %}
  {% assign sticky = true %}
{% elsif page.navbar.sticky != false %}
  {% if site.navbar.sticky %}
    {% assign sticky = true %}
  {% else %}
    {% assign sticky = false %}
  {% endif %}
{% endif %}

{% if page.header.background_align %}
  {% assign background_align = page.header.background_align %}
{% else %}
  {% assign background_align = "center" %}
{% endif %}

{% if page.header.background_image %}
{% assign background_image = page.header.background_image %}
<header class="uk-background-{{ background_align }}-center uk-background-cover{% if page.header.background_overlay %} uk-background-blend-overlay{% endif %}" style="{% if page.header.background_color %}background-color: {{ page.header.background_color }}; {% endif %}background-image: url({% if background_image contains 'http' %}{{ background_image }}{% else %}{{ site.post_assets | absolute_url }}{{ background_image }}{% endif %});">
{% else %}
<header{% if page.header.background %} style="background-color: {{ page.header.background }}; "{% endif %}>
{% endif %}

  {% if sticky %}
    <div data-uk-sticky="{% if page.navbar.animation %}animation: uk-animation-slide-top; top: 200; {% endif %}sel-target: .navbar-container; cls-active: uk-navbar-sticky navbar-background uk-{{ style | default: 'dark' }}; cls-inactive: {% if page.navbar.transparent %}uk-navbar-transparent{% else %}navbar-background{% endif %} uk-{{ style | default: 'dark' }}">
      <nav class="navbar-container">
        {% include navbar.html %}
      </nav>
    </div>
  {% else %}
    <nav class="uk-navbar-container {% if page.navbar.transparent %}uk-navbar-transparent{% else %}navbar-background{% endif %} uk-{{ style | default: 'dark' }}">
      {% include navbar.html %}
    </nav>
  {% endif %}

  <div class="uk-section">
      <div class="uk-container">
        <div class="uk-width-2-3@m uk-{{ page.header.color | default: 'dark' }} uk-text-{{ page.header.align | default: 'left' }} uk-align-{{ page.header.align | default: 'left' }}">
          <h1 class="uk-heading-hero">{{ page.title | escape }}</h1>
          {% if page.subtitle %}<p class="subtitle uk-text-uppercase">{{ page.subtitle | escape }}</p>{% endif %}

          {% if page.excerpt %}
            <p class="uk-text-lead">{{ page.excerpt }}</p>
          {% endif %}

          <div class="uk-article-meta">
              {% if page.id and site.author.name %}
                  by {{ site.author.name }}
              {% endif %}
              {% if page.id and page.categories %}in
                  {% for category in page.categories %}
                      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                      {% unless forloop.last %}{% endunless %}
                  {% endfor %}
              {% endif %}
              {% if page.layout == 'about' and site.author.bio %}
                  <div class="uk-container uk-container-small uk-margin-medium-top">
                      {{ site.author.bio }}
                  </div>
              {% endif %}

          </div>
        </div>
        {% if page.header.search %}
        <div class="uk-width-1-2@m uk-align-{{ page.header.align | default: 'left' }}">
          <div class="hero-search">

              <!-- Html Elements for Search -->
              <div class="uk-position-relative">
                  <form class="uk-search uk-search-default uk-width-1-1" name="search-hero" onsubmit="return false;">
                      <span data-uk-search-icon></span>
                      <input id="hero-search" class="uk-search-input" type="search" placeholder="Search for answers...">
                  </form>
                  <ul id="hero-search-results" class="uk-position-absolute uk-width-1-1 uk-list"></ul>
              </div>

              <script>
              SimpleJekyllSearch({
                  searchInput: document.getElementById('hero-search'),
                  resultsContainer: document.getElementById('hero-search-results'),
                  noResultsText: '<li>No results found</li>',
                  searchResultTemplate: '<li><a href="{url}">{title}</a></li>',
                  json: '/search.json'
              });
              </script>
            </div>
          </div>
          {% endif %}

      </div>
  </div>



</header>
