{% if site.social_networks.twitter %}
<div class="uk-first-column">
    <a href="{{ site.social_networks.twitter }}" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.facebook %}
<div>
    <a href="{{ site.social_networks.facebook }}" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.flickr %}
<div>
    <a href="{{ site.social_networks.flickr }}" data-uk-icon="icon: flickr" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.dribbble %}
<div>
    <a href="{{ site.social_networks.dribbble }}" data-uk-icon="icon: dribbble" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.instagram %}
<div>
    <a href="{{ site.social_networks.instagram }}" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.googleplus %}
<div>
    <a href="{{ site.social_networks.googleplus }}" data-uk-icon="icon: google-plus" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.linkedin %}
<div>
    <a href="{{ site.social_networks.linkedin }}" data-uk-icon="icon: linkedin" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.pinterest %}
<div>
    <a href="{{ site.social_networks.pinterest }}" data-uk-icon="icon: pinterest" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.vimeo %}
<div>
    <a href="{{ site.social_networks.vimeo }}" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.youtube %}
<div>
    <a href="{{ site.social_networks.youtube }}" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.github %}
<div>
    <a href="{{ site.social_networks.github }}" data-uk-icon="icon: github" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.email %}
<div>
    <a href="mailto:{{ site.social_networks.email }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.social_networks.website %}
<div>
    <a href="{{ site.social_networks.website }}" data-uk-icon="icon: link" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
