{% if site.author.twitter %}
<div class="uk-first-column">
    <a href="{{ site.author.twitter }}" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.facebook %}
<div>
    <a href="{{ site.author.facebook }}" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.flickr %}
<div>
    <a href="{{ site.author.flickr }}" data-uk-icon="icon: flickr" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.dribbble %}
<div>
    <a href="{{ site.author.dribbble }}" data-uk-icon="icon: dribbble" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.instagram %}
<div>
    <a href="{{ site.author.instagram }}" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.googleplus %}
<div>
    <a href="{{ site.author.googleplus }}" data-uk-icon="icon: google-plus" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.linkedin %}
<div>
    <a href="{{ site.author.linkedin }}" data-uk-icon="icon: linkedin" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.pinterest %}
<div>
    <a href="{{ site.author.pinterest }}" data-uk-icon="icon: pinterest" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.vimeo %}
<div>
    <a href="{{ site.author.vimeo }}" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.youtube %}
<div>
    <a href="{{ site.author.youtube }}" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.github %}
<div>
    <a href="{{ site.author.github }}" data-uk-icon="icon: github" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.email %}
<div>
    <a href="{{ site.author.email }}" data-uk-icon="icon: mail" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
{% if site.author.website %}
<div>
    <a href="{{ site.author.website }}" data-uk-icon="icon: link" class="uk-icon-link uk-icon" target="_blank"></a>
</div>
{% endif %}
