---
layout: default
---

<div class="uk-section uk-section-medium uk-section-default">
  <div class="uk-container">

    {{ content }}

  </div>
</div>

<!--
<div class="uk-section uk-section-primary">
    <div class="uk-container uk-container-small">
        <div class="uk-flex-middle" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true; delay: 100">
            <div class="uk-width-auto@m uk-first-column">
                <h3 class="">Didn't find an answer to your question?</h3>
            </div>
            <div class="uk-width-expand@m">
                <a class="uk-button uk-button-default" href="contact.html">Contact Us</a>
            </div>
        </div>
    </div>
</div>
-->
